.element__description{
  width: 100%;
  max-width: 282px;
  min-height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 15px 0 21px;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
}