.popup__close-icon {
  width: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  background-image: url('../../../images/close_icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.popup__close-icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    top: -40px;
    right: 0;
  }
}
