.profile__occupation{
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  grid-area: occup;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 420px) {
  .profile__occupation{
    font-size: 14px;
  }
}