.element__fav {
  min-width: 22px;
  min-height: 19px;
  padding: 0;
  background-color: transparent;
  background-image: url('../../../images/heart_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  box-sizing: border-box;
  display: block;
}
